.navbar {
  padding: 10px;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  // height: 80px;
  min-width: 100vh;

  a {
    margin: 0 10px;
    color: white;
  }
}
